# IDE
.idea/
.vs/
.vscode/

# Build .NET
**/bin/
**/obj/

# Logs
*.log

# User / machine-specific
*.user
*.suo
*.userprefs
**/Properties/launchSettings.json

./VisuLecture/records/
./VisuLecture/uploads/
./VisuLecture/wwwroot/textImg/
./VisuLecture/app.db
./VisuLecture/gaze_model.pkl